:8080 {
    header /static/ Cache-Control "public, max-age=604800"
    root /app/
    index /index.html
    tls off
    log / stdout "{remote} {method} {uri} {status} \"{>Referer}\" \"{>User-Agent}\""
    errors stdout
}
